In [286]:
print(type((3,4)))

<class 'tuple'>

In [287]:
age = 25
print(f"My name is Ugoo. I am {age +9} years old.")

My name is Ugoo. I am 34 years old.

In [288]:
age = "25"
print (type(age))

<class 'str'>

In [289]:
print(type(int(age)))

<class 'int'>

In [290]:
print(len("Hello class!"))

12

In [291]:
print(1 +1)

2

In [292]:
print(10/3)

3.3333333333333335

In [293]:
print(10//3)

3

In [294]:
print(type(str(12)))

<class 'str'>

In [295]:
print(round(12.4))

12

In [296]:
print(None)

None

In [297]:
age = 12
age = age +1
print(age )

13

In [298]:
def mine(name):
    return f"Hi {name}."
print(mine("Ugoo"))
print(mine("Emeka"))
print(mine("Adah"))

Hi Ugoo.
Hi Emeka.
Hi Adah.

In [299]:
def full_name(first_name, last_name):
    name = first_name.capitalize() + " " + last_name.capitalize()
    return name
print(full_name("ugoo", "ezekoma"))

Ugoo Ezekoma

In [300]:
def full_name(first_name, last_name):
    name = first_name.capitalize() + " " + last_name.capitalize()
    return name
#print(full_name("ugoo", "ezekoma"))
first_name = input("Type first name: \n")
last_name = input("Type last name: ")
print(full_name(first_name, last_name))

Ugoo Ezekoma

In [301]:
age = 34
if age >= 18:
    print(f"Yes,the age; {age} is mature. You can vote")

Yes,the age; 34 is mature. You can vote

In [302]:
is_nice = True
state = "nice" if is_nice else "not nice"

In [303]:
def is_divide_by(number, a, b):
    if number % a == 0 and number % b == 0:
        return True
    else: 
        return False
print(is_divide_by(-12, 2, -6))
print(is_divide_by(-12, 2, -5))
print(is_divide_by(45, 1, 6))
print(is_divide_by(45, 5, 15))
print(is_divide_by(4, 1, 4))
print(is_divide_by(15, -5, 3))

True
False
False
True
True
True

In [304]:
def hello(name):
    return f"Hello, {name.capitalize()}!"

def hello1(name = " "):
    return f"Hello, World!"

print(hello("john"))
print(hello("aLICE"))
print(hello1(" "))

Hello, John!
Hello, Alice!
Hello, World!

In [305]:
def hello(name):
    if len(name) <= 1:
        return f"Hello, World!"
    else: 
        return f"Hello, {name.capitalize()}!"

print(hello("john"))
print(hello("aLICE"))
print(hello(""))

Hello, John!
Hello, Alice!
Hello, World!

In [306]:
def hello(name=''):
    return f"Hello, {name.capitalize() or 'World'}!"

print(hello("john"))
print(hello("aLICE"))
print(hello(""))

Hello, John!
Hello, Alice!
Hello, World!

In [307]:
#Create a method with the length and width
def area_or_perimeter(l , w):
    if l == w:                      # Create a condition with the length and width
        return l * w                #Use return to execute a function is condition is met
    else:
        return (l + w) * 2          #next action if the initial condition is not met
    
print(area_or_perimeter(6,10))      #Use the method to call interact between the arguments and the parameters
print(area_or_perimeter(3,3))

32
9

In [308]:
from math import *
def litres(time):
    return floor(time * 0.5)
print(litres(3))

1

In [309]:
def is_uppercase(inp):
    if inp == inp.upper():
        return True
    else: 
        return False
print(is_uppercase("c"))
print(is_uppercase("C"))
print(is_uppercase("hello I AM DONALD"))
print(is_uppercase("HELLO I AM DONALD"))
print(is_uppercase("ACSKLDFJSgSKLDFJSKLDFJ"))
print(is_uppercase("ACSKLDFJSGSKLDFJSKLDFJD"))

False
True
False
True
False
True

In [310]:
print("I am going to work right now!".upper())

I AM GOING TO WORK RIGHT NOW!

In [311]:
attendee_name = "Ebuka"
if attendee_name.isupper() == False:
	attendee_name = attendee_name.upper()
	print(attendee_name)
else:
	print("This attendee's name is already in uppercase.")
	print(attendee_name)

EBUKA

In [312]:
def coach_answer(your_message):
    if "?" not in your_message:
        coach1 = "I don't care, get dressed and go to work!" 
        return str(coach1)
    elif "?" in your_message:
        coach2 = "Silly question, get dressed and go to work!"
        return str(coach2)
    else: 
        "I am going to work right now!" == your_message
        coach3 = " "
        return str(coach3)
            
print(coach_answer("I met a girl last night"))
print(coach_answer("Can I eat some pizza?"))
print(coach_answer("I am going to work right now!"))

I don't care, get dressed and go to work!
Silly question, get dressed and go to work!
I don't care, get dressed and go to work!

In [313]:

# Implement your coach_answer_enhanced below:
def coach_answer_enhanced(your_message):
    if "?" not in your_message and your_message.isupper() == False:
        coach1 = "I don't care, get dressed and go to work!"
        return str(coach1)
    elif "?" in your_message and your_message.isupper() == False:
        coach2 = "Silly question, get dressed and go to work!"
        return str(coach2)
    else: 
        "I am going to work right now!" == your_message and your_message.isupper() == False
        coach3 = " "
        if len(coach3) >= 1:
            return str(coach3)
  
print(coach_answer_enhanced("I met a girl last night"))
print(coach_answer_enhanced("Can I eat some pizza?"))
print(coach_answer_enhanced("I am going to work right now!"))


#print(coach_answer_enhanced("I am going to work right now!".upper())) 

 #   if "?" not in your_message and your_message.isupper() == True:
  #      coach = "I can feel your motivation!"
   #     return str(coach)

I don't care, get dressed and go to work!
Silly question, get dressed and go to work!
I don't care, get dressed and go to work!

In [314]:
def coach_answer(your_message):
    if your_message == "I am going to work right now!":
        return ""
    if your_message.endswith("?"):
        return "Silly question, get dressed and go to work!"
    return "I don't care, get dressed and go to work!"


def coach_answer_enhanced(your_message):
    if your_message == "I AM GOING TO WORK RIGHT NOW!":
        return ""
    if your_message.isupper():
        return "I can feel your motivation! " + coach_answer(your_message)
    return coach_answer(your_message)

print(coach_answer_enhanced("I met a girl last night"))
print(coach_answer_enhanced("Can I eat some pizza?"))
print(coach_answer_enhanced("I am going to work right now!"))

I don't care, get dressed and go to work!
Silly question, get dressed and go to work!

In [315]:
b = "123"
print(len(b))

3

In [316]:
def is_colorful(c_num):
    new_list = [int(x) for x in str(c_num)]       
    #print(new_list)
    size = (len(new_list))
    if size == 1:
        return "Yes"



print(is_colorful(263))

None

In [317]:
#This is my solution: 
    #It looks simple but it works i guess. 
    
def is_colorful(c_num):
    new_list = [int(x) for x in str(c_num)]
    first = new_list[0]
    second = new_list[1]
    third = new_list[2]
    new_list.append(first * second)
    new_list.append(second * third)
    new_list.append(first * second * third)
    if len(set(new_list)) == len(new_list):
        return True
    else:
        return False
    
    
    
print(is_colorful(263))
print(is_colorful(236))

True
False

In [449]:
def is_colorful(c_num):
    new_list = [int(x) for x in str(c_num)]
    size = len(new_list)
    if size == 1:
        return True
    
    for i in range(size):
        new_list.append(new_list[i] * new_list[i +1])
        print(new_list)
    return len(set(new_list)) == len(new_list)

print(is_colorful(263))
print(is_colorful(236))

[2, 6, 3]
[2, 6, 3, 12]
[2, 6, 3, 12, 18]
[2, 6, 3, 12, 18, 36]
True
[2, 3, 6]
[2, 3, 6, 6]
[2, 3, 6, 6, 18]
[2, 3, 6, 6, 18, 36]
False

In [319]:
def colorful(number):
    digits = [int(x) for x in str(number)]
    size = len(digits)
    # check if it's a 1-digit number
    if size == 1:
        return True

    for i in range(size - 1):
        digits.append(digits[i] * digits[i + 1])
    return len(set(digits)) == len(digits)


# This solution will only work for numbers with 1, 2 or 3 digits
def is_colorful(num):
    n_str = str(num)

    if len(n_str) == 1:
      return True
    if len(n_str) == 3:
        n1 = int(n_str[0])
        n2 = int(n_str[1])
        n3 = int(n_str[2])
        new_list = [n1, n2, n3, n1*n2, n2*n3, n1*n2*n3]
        return len(set(new_list)) == 6
    if len(n_str) == 2:
        n1 = int(n_str[0])
        n2 = int(n_str[1])
        new_list = [n1, n2, n1*n2]
        return len(set(new_list)) == 3

if __name__ == '__main__':
    print(is_colorful(1))
    print(is_colorful(22))
    print(is_colorful(245))

True
False
True

In [320]:
beatles = ["ringo", "george", "john"]
del beatles[1]
beatles

['ringo', 'john']

In [321]:
beatles.append("george")
beatles
beatles.append("ringo")
beatles

['ringo', 'john', 'george', 'ringo']

In [322]:
set(beatles)

{'george', 'john', 'ringo'}

In [333]:
beatles = ['ringo', 'george', 'john', 'Danar']
beatles

['ringo', 'george', 'john', 'Danar']

In [334]:
sorted(beatles)

['Danar', 'george', 'john', 'ringo']

In [335]:
beatles

['ringo', 'george', 'john', 'Danar']

In [336]:
beatles.sort()
beatles

['Danar', 'george', 'john', 'ringo']

In [337]:
beatles

['Danar', 'george', 'john', 'ringo']

In [341]:
staff = ['ringo', 'george', 'john', 'Danar']
tracker = 1
for staff_member in staff:
    
    print(f" The staff is {staff_member.capitalize()} and has the loop number {tracker}")
    tracker = tracker + 1

 The staff is Ringo and has the loop number 1
 The staff is George and has the loop number 2
 The staff is John and has the loop number 3
 The staff is Danar and has the loop number 4

In [353]:
staff = ['ringo', 'george', 'john', 'Danar']
for position, staff_member in enumerate(staff):
    print(f"{position +1}.  {staff_member.capitalize()}")

1.  Ringo
2.  George
3.  John
4.  Danar

In [355]:
enumerate(staff)
staff

['ringo', 'george', 'john', 'Danar']

In [367]:
staff = ['ringo', 'george', 'john', 'Danar']
list = [staff_member for index, staff_member in enumerate(staff)]
print(list)

['ringo', 'george', 'john', 'Danar']

In [378]:
staff = ['ringo', 'george', 'john', 'Danar']
l_staff = enumerate(staff)
l_staff

In [ ]:
print(type((3,4)))

<class 'tuple'>

In [ ]:
age = 25
print(f"My name is Ugoo. I am {age +9} years old.")

My name is Ugoo. I am 34 years old.

In [ ]:
age = "25"
print (type(age))

<class 'str'>

In [ ]:
print(type(int(age)))

<class 'int'>

In [ ]:
print(len("Hello class!"))

12

In [ ]:
print(1 +1)

2

In [ ]:
print(10/3)

3.3333333333333335

In [ ]:
print(10//3)

3

In [ ]:
print(type(str(12)))

<class 'str'>

In [ ]:
print(round(12.4))

12

In [ ]:
print(None)

None

In [ ]:
age = 12
age = age +1
print(age )

13

In [ ]:
def mine(name):
    return f"Hi {name}."
print(mine("Ugoo"))
print(mine("Emeka"))
print(mine("Adah"))

Hi Ugoo.
Hi Emeka.
Hi Adah.

In [ ]:
def full_name(first_name, last_name):
    name = first_name.capitalize() + " " + last_name.capitalize()
    return name
print(full_name("ugoo", "ezekoma"))

Ugoo Ezekoma

In [ ]:
def full_name(first_name, last_name):
    name = first_name.capitalize() + " " + last_name.capitalize()
    return name
#print(full_name("ugoo", "ezekoma"))
first_name = input("Type first name: \n")
last_name = input("Type last name: ")
print(full_name(first_name, last_name))

Ugoo Ezekoma

In [ ]:
age = 34
if age >= 18:
    print(f"Yes,the age; {age} is mature. You can vote")

Yes,the age; 34 is mature. You can vote

In [ ]:
is_nice = True
state = "nice" if is_nice else "not nice"

In [ ]:
def is_divide_by(number, a, b):
    if number % a == 0 and number % b == 0:
        return True
    else: 
        return False
print(is_divide_by(-12, 2, -6))
print(is_divide_by(-12, 2, -5))
print(is_divide_by(45, 1, 6))
print(is_divide_by(45, 5, 15))
print(is_divide_by(4, 1, 4))
print(is_divide_by(15, -5, 3))

True
False
False
True
True
True

In [ ]:
def hello(name):
    return f"Hello, {name.capitalize()}!"

def hello1(name = " "):
    return f"Hello, World!"

print(hello("john"))
print(hello("aLICE"))
print(hello1(" "))

Hello, John!
Hello, Alice!
Hello, World!

In [ ]:
#Create a method with the length and width
def area_or_perimeter(l , w):
    if l == w:                      # Create a condition with the length and width
        return l * w                #Use return to execute a function is condition is met
    else:
        return (l + w) * 2          #next action if the initial condition is not met
    
print(area_or_perimeter(6,10))      #Use the method to call interact between the arguments and the parameters
print(area_or_perimeter(3,3))

32
9

In [392]:
list = ["a", "b", "c"]
numbered = [index + 1, letter for letter in enumerate(list)]
numbered.upper()
real

SyntaxError: did you forget parentheses around the comprehension target? (3003753952.py, line 2)

In [487]:
list = ["a", "b", "c"]
la = ["{}: {}".format(index+1, letter) for index, letter in enumerate(list)]
la

['1: a', '2: b', '3: c']

In [436]:
print("{} is a good option for beginners in python".format("Edureka"))

Edureka is a good option for beginners in python

In [442]:
print('{} is a good man'.format("Ebenebe"))

Ebenebe is a good man

In [443]:
def number(lines):
    bc = ["{}:{}".format(index+1, num) for index, num in enumerate(lines)]
    return bc
    
print(number("a"))
print(number("b"))
print(number("c"))

['1:a']
['1:b']
['1:c']

In [497]:
cd = []
def number(lines):
    cd.append(lines)
    bc = ["{}:{}".format(index+1, num) for index, num in enumerate(cd)]
    return bc
    
print(number("a"))
print(number("b"))
print(number("c"))

['1:a']
['1:a', '2:b']
['1:a', '2:b', '3:c']

In [500]:
def number(lines):
    la = ["{}: {}".format(index+1, num) for index, num in enumerate(lines)]
    return la
print(number("a"))
print(number("b"))
print(number("c"))

['1: a']
['1: b']
['1: c']

In [537]:
def simple_calculator(arguments1, arguments2, arguments3):

    arguments1 = float(arguments1)
    arguments2 = str(arguments2)
    arguments3 = float(arguments3)
    
    #Makes a list of the arguments
    check = [arguments1, arguments2, arguments3]
    
    #Checks if inputs are complete
    if len(check) != 3:
        return 'Please enter valid format: [Operand, Operator, Operand]'


    if arguments2 == '+':
        return arguments1 + arguments3
    elif arguments2 == '-':
        return arguments1 - arguments3
    elif arguments2 == '*':
        return arguments1 * arguments3
    elif arguments2 == '/':
        return arguments1 / arguments3
    elif arguments2 == '%':
        return arguments1 % arguments3
    else:
        return 'Please enter a valid operator [ +, -, /, *, %]'


#if __name__ == '__main__':
 #   print(simple_calculator(['1', '+', '1']))

inp1 = input("Enter the first operand")
inp2 = input("Enter the operator")
inp3 = input("Enter the second operand")
print(simple_calculator(inp1, inp2, inp3))

2.5

In [610]:
bc = []
def fizz_buzz(a):
    for i in range(1, a+1):
        if i % 3 == 0 and i % 5 == 0:
            bc.append('FizzBuzz')
            continue
        elif i % 3 == 0:
            bc.append('Fizz')
            continue
        elif i % 5 == 0:
            bc.append('Buzz')
            continue
        else:
            bc.append(i)
    return bc
#d = input("Enter a number")
print(fizz_buzz(15))

[1, 2, 'Fizz', 4, 'Buzz', 'Fizz', 7, 8, 'Fizz', 'Buzz', 11, 'Fizz', 13, 14, 'FizzBuzz']

In [671]:
import random
new_list = []
def manual_shuffle(list1):
    for elements in list1:
        random.shuffle(list1)
        new_list.append(list1)
        
        #print(len(new_list))
        #print(len(list1.copy()))
        
        if len(new_list) == len(set(list1.copy())):
           print("Yes, its complete")
        return f"The shuffled list : \n {new_list} \n"
    
p_list = ["apple", "mango", "berry", "Avacado", "paw-paw", "banana"]
print(manual_shuffle(p_list))
print(f"This is the original list : \n {p_list.copy()}. ")

The shuffled list :
 [['apple', 'mango', 'berry', 'banana', 'Avacado', 'paw-paw']]

This is the original list :
 ['apple', 'mango', 'berry', 'banana', 'Avacado', 'paw-paw'].

In [687]:
import random
def manual_shuffle(list1):
    new_list = []
    main_list = list1.copy()
    for elements in range(len(main_list)):
        #random.shuffle(main_list)
        #new_list.append(elements)
        dense = random.randint(0, len(main_list)-1)
        new_list.append(main_list.pop(dense))
        if len(new_list) == len(set(main_list)):
            print( "Yes the lists are equal")
    return f"The shuffled list : \n {new_list} \n"
    
p_list = ["apple", "mango", "berry", "Avacado", "paw-paw", "banana"]
print(manual_shuffle(p_list))
#print(f"This is the original list : \n {p_list.copy()}. ")

Yes the lists are equal
The shuffled list :
 ['apple', 'Avacado', 'mango', 'banana', 'paw-paw', 'berry']

In [712]:

students = ["Peter", "Mary", "Jesus", "Frank", "Ugoo"]
student_ages = [24, 32, 22, 30, 27]
for  index, student in enumerate(students):
    age = student_ages[index]
    print("{}: is {} years old".format(student, age))

Peter: is 24 years old
Mary: is 32 years old
Jesus: is 22 years old
Frank: is 30 years old
Ugoo: is 27 years old

In [770]:
students = ["Peter", "Mary", "Jesus", "Frank", "Ugoo"]
for index, img in enumerate(students):
    print(f"{index}: {img}")

0: Peter
1: Mary
2: Jesus
3: Frank
4: Ugoo

In [728]:
country = {"Germany": "Berlin", "USA": "Washington DC", "Nigeria": "Abuja"}
country

{'Germany': 'Berlin', 'USA': 'Washington DC', 'Nigeria': 'Abuja'}

In [729]:
country["Nigeria"]

'Abuja'

In [730]:
country

{'Germany': 'Berlin', 'USA': 'Washington DC', 'Nigeria': 'Abuja'}

In [732]:
country["Canada"] = "Ontario"
country

{'Germany': 'Berlin',
 'USA': 'Washington DC',
 'Nigeria': 'Abuja',
 'Canada': 'Ontario'}

In [733]:
country["Canada"] = "Toronto"

In [734]:
country

{'Germany': 'Berlin',
 'USA': 'Washington DC',
 'Nigeria': 'Abuja',
 'Canada': 'Toronto'}

In [746]:
country["Population"] = 8_564_890

In [747]:
country

{'Germany': 'Berlin',
 'USA': 'Washington DC',
 'Nigeria': 'Abuja',
 'Canada': 'Toronto',
 'Population': 8564890}

In [748]:
country["Population"] -= 1

In [749]:
country

{'Germany': 'Berlin',
 'USA': 'Washington DC',
 'Nigeria': 'Abuja',
 'Canada': 'Toronto',
 'Population': 8564889}

In [750]:
del country["Population"]

In [751]:
country

{'Germany': 'Berlin',
 'USA': 'Washington DC',
 'Nigeria': 'Abuja',
 'Canada': 'Toronto'}

In [752]:
country.keys()

dict_keys(['Germany', 'USA', 'Nigeria', 'Canada'])

In [753]:
country.values()

dict_values(['Berlin', 'Washington DC', 'Abuja', 'Toronto'])

In [755]:
for keys in country:
    print(country[key])

Berlin
Washington DC
Abuja
Toronto

In [756]:
for values in country:
    print(country[values])

Berlin
Washington DC
Abuja
Toronto

In [761]:

for val in country.values():
    print(val)

Berlin
Washington DC
Abuja
Toronto

In [762]:
for key in country.keys():
    print(key)

Germany
USA
Nigeria
Canada

In [763]:
for key, value in country.items():
    print(f"{key} ==> {value}")

Germany ==> Berlin
USA ==> Washington DC
Nigeria ==> Abuja
Canada ==> Toronto

In [764]:
len(country)

4

In [765]:
country["Dancer"]

KeyError: 'Dancer'

In [766]:
country.get("Dancer", "Unfortunately not available")

'Unfortunately not available'

In [767]:
country.get("Nigeria", "Too bad")

'Abuja'

In [774]:
students = ["Peter", "Mary", "Jesus", "Frank", "Ugoo"]
student_ages = [24, 32, 22, 30, 27]
for key, value in zip(students, student_ages):
    
    print(key, value)

Peter 24
Mary 32
Jesus 22
Frank 30
Ugoo 27

In [783]:

students_colla = {}
for key, value in zip(students, student_ages):
    students_colla[key] = value
    #print(students_colla)
students_colla

{'Peter': 24, 'Mary': 32, 'Jesus': 22, 'Frank': 30, 'Ugoo': 27}

In [787]:
student_comp = {key: value for key, value in zip(students, student_ages)}
student_comp

{'Peter': 24, 'Mary': 32, 'Jesus': 22, 'Frank': 30, 'Ugoo': 27}

In [796]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [795]:
tel["jack"]

4098

In [797]:
del tel["sape"]

In [798]:
tel

{'jack': 4098, 'guido': 4127}

In [799]:
tel["Ivy"] = "saga"
tel

{'jack': 4098, 'guido': 4127, 'Ivy': 'saga'}

In [806]:
tally = [key for key in tel.keys()]
print(tally)

['jack', 'guido', 'Ivy']

In [908]:
def duplicate_count(check):
    if len(check) == len(set(check)) :
        return 0
    new_list = []
    for i in check:
        if i not in new_list:
            new_list.append(i)
            #print(new_list)
        else:
            diff = []
            diff.append(i)
            o_diff = [e for e in diff]
            print(o_diff)

            #return 
    
print(duplicate_count("abcde"))
print(duplicate_count("aabbcde"))
print(duplicate_count("aabBcde"))
print(duplicate_count("indivisibility"))
print(duplicate_count("Indivisibilities"))
print(duplicate_count("aA11"))
print(duplicate_count("ABBA"))

0
['a']
['b']
None
['a']
None
['i']
['i']
['i']
['i']
['i']
None
['i']
['i']
['i']
['i']
['i']
['s']
None
['1']
None
['B']
['A']
None

In [894]:
def duplicate_count (text) :
    total = 0
    duplicates = {}
    for character in text.lower () :
        if character in duplicates :
            duplicates [character] += 1
            if duplicates [character] < 3 :
                total += 1
        else :
            duplicates [character] = 1
 
    print (f'\nThere are {total} reoccurring characters.')
    for element in duplicates :
        if duplicates [element] > 1 :
            print (f'\t"{element}" occurs {duplicates [element]} times.')
 
duplicate_count ('abCccdeeEEefgg12334')

There are 4 reoccurring characters.
	"c" occurs 3 times.
	"e" occurs 5 times.
	"g" occurs 2 times.
	"3" occurs 2 times.

In [906]:
bb = [1,2,3,4,5,6,7,8,9,10]
bb = [i for i in bb]
print(bb)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [909]:
a = b = c = 5

In [910]:
a

5

In [911]:
b

5

In [912]:
c

5

In [913]:
import constant
print(constant.PI)

[1, 2, 'Fizz', 4, 'Buzz', 'Fizz', 7, 8, 'Fizz', 'Buzz', 11, 'Fizz', 13, 14, 'FizzBuzz']

AttributeError: module 'constant' has no attribute 'PI'

In [17]:
import pp1

#print(pp1.PI)
#print(pp1.AGE_OF_STUDENTS)
Hello 
Please, i need a help with turning these numbers into a list. 
Eg. Turning the values into a list 
Like this [350, 230, 150]
How can i do this? 
Thank 

def poor_calories_counter(args1):
    for key, value in list(args1.items()):
        val = []
        val.append(value)
        print(val)


order = {
    "McChicken" : 350,
    "French_Fries" : 230,
    "Sprite" : 150
}
print(poor_calories_counter(order))

[350]
[230]
[150]
None

In [14]:
d = {"name":"python", "version":3.9}
new_list = list(d.items())
print(new_list)

[('name', 'python'), ('version', 3.9)]