In [1]:
num1 = int(input("Type here"))
num2 = int(input("Type here"))
result = num1 + num2
print(result)

65

In [3]:
num1 = float(input("Type here"))
num2 = float(input("Type here"))
result = num1 + num2
print(result)

10.1

In [6]:
color = input("Enter a color: ")
Plural_noun = input("Enter a plural noun: ")
celebrity = input("Enter a celebrity: ")

print(f"Roses are {color}")
print(f"{Plural_noun} are blue")
print(f"I love {celebrity}.upper()")

Roses are red
Roses are blue
I love ugoo.upper()

In [13]:
berry = ["Mary", "Smith", "Adah", "Barry"]
berry[-1] = "Valentine"
print(berry[-1])

Valentine

In [15]:
friends = ["Mary", "Smith", "Adah", "Barry"]
lucky_numbers = [23, 56, 12, 5, 20, 55, 9, 6]
friends.extend(lucky_numbers)
friends

['Mary', 'Smith', 'Adah', 'Barry', 23, 56, 12, 5, 20, 55, 9, 6]

In [20]:
friends = ["Mary", "Smith", "Adah", "Barry"]
lucky_numbers = [23, 56, 12, 5, 20, 55, 9, 6]
friends.append("Ugoo")
sorted(friends)

['Adah', 'Barry', 'Mary', 'Smith', 'Ugoo']

In [21]:
friends = ["Mary", "Smith", "Adah", "Barry"]
lucky_numbers = [23, 56, 12, 5, 20, 55, 9, 6]
friends.extend(lucky_numbers)
friends.insert(1, "Blessing")
friends

['Mary', 'Blessing', 'Smith', 'Adah', 'Barry', 23, 56, 12, 5, 20, 55, 9, 6]

In [22]:
friends = ["Mary", "Smith", "Adah", "Barry"]
lucky_numbers = [23, 56, 12, 5, 20, 55, 9, 6]
friends.extend(lucky_numbers)
friends.insert(1, "Blessing")
friends.remove("Blessing")
friends

['Mary', 'Smith', 'Adah', 'Barry', 23, 56, 12, 5, 20, 55, 9, 6]

In [23]:
friends = ["Mary", "Smith", "Adah", "Barry"]
lucky_numbers = [23, 56, 12, 5, 20, 55, 9, 6]
friends.extend(lucky_numbers)
friends.insert(1, "Blessing")
friends.clear()
friends

[]

In [26]:
friends = ["Mary", "Smith", "Adah", "Barry"]
lucky_numbers = [23, 56, 12, 5, 20, 55, 9, 6]
friends.extend(lucky_numbers)
friends.insert(1, "Blessing")
#Pops
friends.pop()
friends

['Mary', 'Blessing', 'Smith', 'Adah', 'Barry', 23, 56, 12, 5, 20, 55, 9]

In [29]:
friends = ["Mary", "Smith", "Adah", "Blessing" "Barry"]
lucky_numbers = [23, 56, 12, 5, 20, 55, 9, 6]
friends.extend(lucky_numbers)
friends.insert(1, "Blessing")
friends.index("Mary")

0

In [34]:
friends = ["Mary", "Smith", "Adah", "Blessing", "Barry"]
lucky_numbers = [23, 56, 12, 5, 20, 55, 9, 6]
friends.extend(lucky_numbers)
friends.insert(1, "Blessing")
friends.count("Blessing")

2

In [41]:
friends = ["Mary", "Smith", "Adah", "Blessing", "Barry"]
friends.sort()
friends

['Adah', 'Barry', 'Blessing', 'Mary', 'Smith']

In [43]:
friends = ["Mary", "Smith", "Adah", "Blessing", "Barry"]
sorted(friends)

['Adah', 'Barry', 'Blessing', 'Mary', 'Smith']

In [44]:
friends = ["Mary", "Smith", "Adah", "Blessing", "Barry"]
friends.reverse()
friends

['Barry', 'Blessing', 'Adah', 'Smith', 'Mary']

In [48]:
friends = ["Mary", "Smith", "Adah", "Blessing", "Barry"]
friends2 = friends.copy()
print(friends)
print(friends2)

['Mary', 'Smith', 'Adah', 'Blessing', 'Barry']
['Mary', 'Smith', 'Adah', 'Blessing', 'Barry']

In [52]:
coordinates = [(50, 10), (34, 65), (90.12)]
coordinates[1]

(34, 65)

In [53]:
def sayhi():
    print("Hello World")
print("Top")
sayhi()
print("Bottom")

Top
Hello World
Bottom

In [76]:
def sayhi(name, age):
    print("Hello World " + name + ". You are " + str(age))
    
sayhi("Mike Smith", 40) 
sayhi("Ada Jesus", 25)

Hello World Mike Smith. You are 40
Hello World Ada Jesus. You are 25

In [72]:
def cube (num):
    return num * num * num

cube(3)

27

In [77]:
def cube (num):
    return num * num * num
result = cube(4)
print(result)

64

In [82]:
is_male = True
if is_male is True:
    print("You are a male")

You are a male

In [83]:
is_male = True
if is_male:
    print("You are a male")

You are a male

In [84]:
is_male = False
if is_male:
    print("You are a male")

In [86]:
is_male = False
if is_male:
    print("You are a male")
else: 
    print("You are not a male. You are a female")

You are not a male. You are a female

In [87]:
is_male = True
is_tall = True

if is_male or is_tall:
    print("You are a male or tall or both")
else:
    print("You are neither tall or male")

You are a male or tall or both

In [88]:
is_male = True
is_tall = False

if is_male or is_tall:
    print("You are a male or tall or both")
else:
    print("You are neither tall or male")

You are a male or tall or both

In [89]:
is_male = False
is_tall = False

if is_male or is_tall:
    print("You are a male or tall or both")
else:
    print("You are neither tall or male")

You are neither tall or male

In [92]:
is_male = True
is_tall = False

if is_male and is_tall:
    print("You are a male and tall or both")
else:
    print("You are not tall and male")

You are not tall and male

In [93]:
is_male = False
is_tall = False

if is_male and is_tall:
    print("You are a male and tall or both")
else:
    print("You are not tall and male")

You are not tall and male

In [95]:
is_male = True
is_tall = True

if is_male and is_tall:
    print("You are a male and tall or both")
else:
    print("You are not tall and male")

You are a male and tall or both

In [98]:
is_male = True
is_tall = False

if is_male and is_tall:
    print("You are a male and tall or both")
elif is_male and not is_tall:
    print("Yes, he is male and not tall")
else:
    print("You are not tall and male")

Yes, he is male and not tall

In [99]:
is_male = False
is_tall = True

if is_male and is_tall:
    print("You are a male and tall or both")
elif is_male and not is_tall:
    print("Yes, he is male and not tall")
elif not is_male and is_tall:
    print("Yes, he is not male and  tall")
else:
    print("You are not tall and male")

Yes, he is not male and  tall

In [101]:
is_male = False
is_tall = True

if is_male and is_tall:
    print("You are a male and tall or both")
elif is_male and not (is_tall):
    print("Yes, he is male and not tall")
elif not (is_male) and is_tall:
    print("Yes, he is not male and tall")
else:
    print("You are not tall and male")

Yes, he is not male and tall

In [105]:
def max_num(num1, num2, num3):
    if num1 >= num2 and num1 >= num3:
        return num1
    elif num2 >= num1 and num2 >= num3:
        return num2
    else:
        return num3
print(max_num(3,4,5))
print(max_num(6,14,3))

5
14

In [106]:
num1 = float(input("Enter a number: "))
op = input("Enter an operator": )
num2 = float(input("Enter another number: "))

if op == "+":
    print(num1 + num2)
elif op == "-":
    print(num1 - num2)
elif op == "*":
    print(num1 *num2)
elif op == "/":
    print(num1 / num2)
else:
    print("Please, use the right operator")

ValueError: could not convert string to float: '4+6'